@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Press+Start+2P&display=swap');
$blockText: 'Press Start 2P', cursive;
$mainBody: 'Kanit', sans-serif;

$white: white;
$errorRed: #CF2103;
$darkErrorRed: #4F0400;
$mintGreenNavigation: #000F08;
