// @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Press+Start+2P&display=swap');


$blockText: var(--press_start_2p-font);
$mainBody: var(--kanit-font);

$white: white;
$errorRed: #CF2103;
$darkErrorRed: #4F0400;
$mintGreenNavigation: #000F08;
