$pinboard: #6F6F85;
$pinboardLight: #f1e0c7;
$pinboardDark: #beb29e;

$offWhite: #F6F6F6;
$darkTextColor: #8D5A97;
$mintGreenNavigation: #000F08;

@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Press+Start+2P&display=swap');
$blockText: 'Press Start 2P', cursive;
$mainBody: 'Kanit', sans-serif;

$white: white;
$errorRed: #CF2103;
$darkErrorRed: #4F0400;
