@import 'styles/Home.module.scss';

.navigation-bar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mintGreenNavigation;
}

.navigation-items {
  width: 100%;
  display: flex;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
  a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: $blockText;
  }

  .navbar-item-inner {
    padding: 7px;
    background:
      linear-gradient(transparent, transparent) bottom left / 20px 2px,
      linear-gradient(transparent, transparent) bottom left / 2px 20px,
      linear-gradient(transparent, transparent) top right / 20px 2px,
      linear-gradient(transparent, transparent) top right / 2px 20px;
    background-repeat: no-repeat;
  }

  .navbar-item-inner:hover {
    padding: 7px;
    background:
      linear-gradient(#CF2103, #4F0400) bottom left / 20px 2px,
      linear-gradient(#4F0400, #CF2103) bottom left / 2px 20px,
      linear-gradient(#CF2103, #4F0400) top right / 20px 2px,
      linear-gradient(#4F0400, #CF2103) top right / 2px 20px;
    background-repeat: no-repeat;

    a {
      background-position: 0 0,0 0,100% 80%;
      background-size: 100% 2px;
      background-image: linear-gradient(180deg,rgba(#CF2103,.6),rgba(#CF2103,.6)),linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.1)),url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDI5M2RiYmY0M2VmZTEzM2IzNmU3OGMxMWIxMmQ3YmJkNDU5MmY3NSZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/3ohzdHW2xW3URpfGCI/giphy.gif");
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style-type: none;
    }
  }
}