@import 'styles/Home.module.scss';

.splash-welcome-mat {
  display: flex;

  .splash-background{
    background-image: url('/splash.webp');
  }

  .splash-container {
    height: calc(100vh - 100px);
    position: absolute;
    width: 100%;
    background-color: rgba($mintGreenNavigation, .6);
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .splash-message {
    font-family: $mainBody;
    padding: 2em;
    font-size: 30px;
    color: white;
  }
}