@import 'styles/Home.module.scss';

.splash-welcome-mat {
  display: flex;
  background: linear-gradient(135deg, $pinboard 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, $pinboard 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: $pinboard;
  background-size: 64px 128px;

  .splash-container {
    margin: 50px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 50px;
  }
  
  #splash-image {
    border: 7px solid rgb(71, 34, 34);
  }

  .splash-message {
    width: 50vw;
    margin-right: 50px;
    font-family: $blockText;
    padding: 15px;
    font-size: 20px;
    background-color: $mintGreenNavigation;
    border: 10px inset rgb(71, 34, 34);
  }
}