@import 'styles/Home.module.scss';

.splash-welcome-mat {
  display: flex;

  .splash-background{
    background-image: url('/splash.webp');
  }

  .splash-container {
    height: calc(100vh - 100px);
    position: absolute;
    background-color: rgba($mintGreenNavigation, .8);
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .splash-message {
    font-family: $mainBody;
    padding: 2em;
    font-size: 22px;
    color: white;

    p, h1, h2 {
      margin-bottom: 10px;
    }
  }
}